div.TakaBack {
  background-image: url("http://i.imgur.com/KDaco8o.gif");
  background-color: dodgerblue;
  border: 10px double;
  border-color: dodgerblue;
  border-radius: 20px;
  padding: 15px;
  height: 650px;
}
div.TakaName {
  margin-top: 15px;
  float: left;
}
div.TakaPort {
  height: 100px;
  width: 100px;
  border: 4px ridge;
  border-color: white;
  background-image: url("http://i.imgur.com/gEY7nE4.png");
  float: right;
}
div.TakaRght {
    float: right;
    margin-top: -64px;
    margin-left: 87px;
}
div.TakaPost {
  background-image: url("http://i.imgur.com/VxsROty.png");
  border: 4px ridge;
  border-color: white;
  min-height: 300px;
  color: black;
  padding: 10px;
  margin-top: -553px;
  width: 350px;
  max-height: 500px;
  overflow-y: scroll;
  float: left;
}
div.TakaPost::-webkit-scrollbar {
  width: 5px;
}
div.TakaPost::-webkit-scrollbar-thumb {
  background: dodgerblue;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
div.TakaPost::-webkit-scrollbar-thumb:hover {
  background: dimgray;
}
div.TakaPost::-webkit-scrollbar-thumb:active {
  background: #FFFFFF;
}
div.TakaPost::-webkit-scrollbar-track {
  background: #666666;
  border: 0px dashed #ffffff;
  border-radius: 0px;
}
div.TakaPost::-webkit-scrollbar-track:hover {
  background: #666666;
}
div.TakaPost::-webkit-scrollbar-track:active {
  background: #333333;
}
div.TakaWord {
  background-image: url("http://i.imgur.com/VxsROty.png");
  border: 4px ridge;
  border-color: white;
  color: black;
  padding: 10px;
  width: 150px;
  height: 100px;
  overflow-y: scroll;
  float: right;
  text-align: center;
  vertical-align: middle;
}
